---
---

@import '{{ site.theme }}';
$dark-purple: #370031;
$independence: #3A435E;
$thistle: #CEB1BE;
$old-rose: #B97375;
$russian-voilet:#0B0033;
$charcoal: #313E50;
$lavendar-blush: #F1E4E8;

.page-header {
  color: $independence;
  position: relative;
  background-color: $lavendar-blush;
  background-image: url('../images/background.jpg');
  height: 75vh;
  background-size: 100vw 80vh;
  a {
    color: $old-rose;
  }
}
a {
  color: $old-rose;
}
body {
  background-color: $lavendar-blush;
}
h2 {
  color: $old-rose;
}
h3 {
  color: $old-rose;
}
.main-content h2 {
  color: $old-rose;
}
.main-content h3 {
  color: $old-rose;
}
.main-content small{
  color: $independence;
}
.main-content p{
  color: $charcoal;
}

navigation{
  position: absolute;
  right: 20px;
  top: 0;
}

.custom-shape-divider-bottom-1645308079 {
  position: absolute;
  bottom: 25vh;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1645308079 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1645308079 .shape-fill {
  fill: $lavendar-blush;
}
.card {
  width: 600px;
  height: 300px;
  border: 1px;
  border-style: hidden;
  border-radius: 16px;
  background: white;
  filter: drop-shadow(5px 5px 6px $old-rose);
  position: absolute;
  top: 35%;
  left: 35%;
  p {
    margin: 0;
  }
  img {
    height: 200px;
    clip-path: circle(50% at 50% 50%);
    float: left;
    margin: 50px 50px;
  }
  h1 {
    padding-top: 75px;
    margin: 0;
  }
  a {
    font-size: 20px;
    padding: 10px;
  }
}
