---
---

@import '{{ site.theme }}';
.page-header {
  color: #92dce5;
  background-color: #0f7173;
  background-image: none;
}
a {
  color: #b97375;
}
body {
  background-color: #f1e4e8;
}
h2 {
  color: #ceb1be;
}
h3 {
  color: #b97375;
}
.main-content h2 {
  color: #ceb1be;
}
.main-content h3 {
  color: #b97375;
}
.card {
  width: 600px;
  height: 300px;
  border: 1px;
  border-style: hidden;
  border-radius: 16px;
  background: white;
  filter: drop-shadow(5px 5px 6px #b97375);
  position: absolute;
  top: 35%;
  left: 35%;
  p {
    margin: 0;
  }
  img {
    height: 200px;
    clip-path: circle(50% at 50% 50%);
    float: left;
    margin: 50px 50px;
  }
  h1 {
    padding-top: 75px;
    margin: 0;
  }
  a {
    font-size: 20px;
    padding: 10px;
  }
}
